#-e ./trvae
#-e ./Benchmarking_data_integration
#git+https://github.com/theislab/Benchmarking_data_integration
MulticoreTSNE
anndata
git+https://github.com/theislab/scanpy
fa2
gprofiler-official
rpy2>=3
git+https://github.com/flying-sheep/anndata2ri
bbknn
scanorama
mnnpy
#trvae
scvi

