'r-rgl'
'gsl'
'tzlocal'
'simplegeneric'
'natsort'
'h5py'
'tqdm'
'patsy'
'llvmlite'
'numba'
'networkx'
'joblib'
'numexpr'
'pytables'
'statsmodels'
'python-igraph'
'louvain'
'r-rngtools'
'bioconductor-rhdf5lib'
'r-gam'
'r-colorbrewer'
'bioconductor-scran'
'bioconductor-mast'
'bioconductor-monocle'
'bioconductor-complexheatmap'
'bioconductor-slingshot'
