package bioconductor
devtools FALSE
theislab/kBET
immunogenomics/harmony TRUE
rngtools FALSE
Seurat FALSE
Rhdf5lib TRUE
RColorBrewer FALSE
scran TRUE
MAST TRUE
monocle TRUE
ComplexHeatmap TRUE
slingshot TRUE

