cmake
r-base
r-rgl
gsl
tzlocal
simplegeneric
natsort
h5py
tqdm
patsy
llvmlite
numba
networkx
joblib
numexpr
pytables
statsmodels
python-igraph
louvain
memory_profiler
#r-rngtools
#r-seurat
#bioconductor-rhdf5lib
#r-rcolorbrewer
#r-devtools
#bioconductor-scran
#bioconductor-mast
#bioconductor-monocle
#bioconductor-complexheatmap
#bioconductor-slingshot
pip=19.*
